name: Deploy AWS & GitHub

on:
  push:
    branches:
      - develop

permissions: # Workflow permissions for github API
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize Terraform # Init
        working-directory: ./terraform
        run: terraform init

      - name: Plan Terraform # Plan
        working-directory: ./terraform
        env:
          TF_VAR_github_token: ${{ secrets.TF_VAR_github_token }}
          TF_VAR_github_owner: ${{ secrets.TF_VAR_github_owner }}
        run: terraform plan


  production_deploy:
    runs-on: ubuntu-22.04
    needs: plan
    steps:
      - name: Apply Terraform # Apply
        working-directory: ./terraform
        env:
          TF_VAR_github_token: ${{ secrets.TF_VAR_github_token }}
          TF_VAR_github_owner: ${{ secrets.TF_VAR_github_owner }}
        run: terraform apply
